<div class="container">
    <div class="row topBar">
        <div class="col-12 titleBox align-center">
            <img src="../assets/Logo.svg" alt="UWU">
            <h3> The place for those forgotten recipes</h3>
            <button class="LoginButton">Log in / Register</button>
        </div>
    </div>
    <div class="row row-center">
        <div class="col-12 col-md-4">
            <app-columns class="column" [columnText]="'UWU'" [columnImage]="'wine.jpg'"></app-columns>
        </div>
        <div class="col-12 col-md-4">
            <app-columns class="column" [columnText]="'UWU'" [columnImage]="'Burger.jpg'"></app-columns>
        </div>
        <div class="col-12 col-md-4">
            <app-columns class="column" [columnText]="'UWU'" [columnImage]="'Pancakes.jpg'"></app-columns>
        </div>
    </div>
