.container {
  max-width: $max;
  margin: auto;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;

  &.row-center {
    justify-content: center;
  }

  &.row-between {
    justify-content: space-between;
  }

  &.align-center {
    align-items: center;
  }

}

$sizes: ('md': 768px);

@each $name,
$size in $sizes {

  @for $i from 1 through 12 {

    .col-#{$name}-#{$i} {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

@for $i from 1 through 12 {

  .col-#{$i} {
    flex: 0 0 calc(100% * (#{$i} / 12));
    max-width: calc(100% * (#{$i} / 12));
  }

}

@each $name,
$size in $sizes {

  @media (min-width: #{$size}) {

    @for $i from 1 through 12 {

      .col-#{$name}-#{$i} {
        flex: 0 0 calc(100% * (#{$i} / 12));
        max-width: calc(100% * (#{$i} / 12));
      }
    }
  }
}

@media (min-width: 768px) {

  .container {
    padding: 20px 80px;
  }

}
